$primary-color: #143c3c;
$secondary-color: #83a17d;
$tertiary-color: #e2eddf;

$public-san-font: 'Public Sans', san-serif;

$black-gray: #575d5e;
$light-gray: #7d8188;
$gray: #6a8383;

$black: #152427;
$black-green: #143c3c;
$black-gray: #575d5e;
