@use '../base/variables' as var;
.header {
    margin-top: 16px;
    padding-top: 12px;
    background: #fff;
    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 12px;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    .navbar {
        &__list {
            display: flex;
        }

        &__link {
            position: relative;
            padding: 16px 20px 30px;
            color: var.$light-gray;
            font-family: var.$public-san-font;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.56;

            &:hover {
                color: var.$black;
            }

            &--active {
                color: var.$black;

                &::after {
                    position: absolute;
                    content: '';
                    left: 20px;
                    bottom: 0;
                    display: inline-block;
                    width: 16px;
                    height: 2px;
                    border-radius: 1px;
                    background: var.$black-green;
                    z-index: 1;
                }
            }
        }
    }

    &__action-btn {
        margin-left: 68px;
    }

    &__separate {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: linear-gradient(90deg, #fff 0%, #dddcdc 51.09%, rgba(212, 212, 212, 0) 99.68%);
    }

    &-fixed {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}
